.exerciseTypeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.typeImageContainer {
  margin-right: 8px;
  width: 50px !important;
  height: 50px;
}

.typeImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
